<nav>
  <ul>
    <span class="big">
    {% for item in site.data.navigation %}
    <li><a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a></li>
    {% endfor %}
    <li><a href="#" id="btn-toggle" class="btn-toggle"><i class="fa fa-moon-o"></i></a></li>
  </span>
  <span class="small">
    <li><a href="{{ site.url }}{{ site.baseurl }}" class="icon">
      <i class="fa fa-home"></i></a></li>
      <li><a href="{{ site.url }}{{ site.baseurl }}blog.html" class="icon">
        <i class="fa fa-book"></i></a></li>
        <li><a href="{{ site.url }}{{ site.baseurl }}tags.html" class="icon">
          <i class="fa fa-tag"></i></a></li>
  </span>
  </ul>
</nav>