
pre {
    background: var(--color-code-bg);
    border: 1px solid var(--color-code-border);
    border-left: 3px solid var(--color-code-accent);
    color: var(--color-code-text);
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 0.9rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 0em 1.5em 1em 1.5em;
    display: block;
    word-wrap: break-word;
  }
  
  code {
    background: var(--color-code-bg);
    color: var(--color-code-text);
    padding: 3px 5px;
  }