<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>
      <header>
        {% include nav.html %}
      </header>
    <main class="content">
      {{ content }}
      <div class="push"></div>
    </main>
      {% include footer.html %}
  </body>
  
  <!--<script src="{{ base.url | prepend: site.url }}/assets/js/toggletheme.js"></script>-->
  <script src="{{site.url}}/{{site.baseurl}}/assets/js/toggletheme.js"></script>
  <!--<script src="{{ base.url | prepend: site.url }}/assets/js/prismSyntax.js"></script>-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.js"></script>

</html>