---
layout: default
---
<header class="postHeader">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<h1>{{ page.tag | upcase}}</h1>
				These are posts that are tagged with the <b>{{ page.tag }}</b> tag.
				<hr>
			</div>
		</div>
	<div>
</header>

{{ content }}

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
			<ul>
				{% for post in site.tags[page.tag] %}
					<li><a href="{{ post.url | prepend:site.baseurl }}">{{ post.title }}</a> - {{ post.date | date_to_string | date: "%b. %d, %Y" }}<br>
						<i>&nbsp;&nbsp;{{ post.description }}</i>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>